*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
nav{
    padding: 10px 60px;
    background-color: white;
    z-index: 1000;
    
}
.nav_item .logo{
    height: 70px;
    width: 70px;
    
}
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black;
}
/*Navigation styling*/
.nav_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_item .logo img{
    height: 100%;
    width: 100%;
}
.middle{
    display: flex;
    padding: 5px;
    gap: 20px;
}
.nav_item li a{
    font-size: 17px;
    color: grey;
}
/*Navigation ends*/

/*hero Section Starts*/
.hero_section{
    padding: 0 80px;
    display: flex;
    height: 95vh;
    align-items: center;
}
.hero_left{
    flex: 1;
    padding: 90px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.hero_left h1{
    font-size: 65px;
}
.gradient_text{
    color: transparent;
    background-image: linear-gradient(to right, #0bab1b, #c25119);
    background-clip: text;
    -webkit-background-clip: text;
}
.primary_btn{
    background-color: green;
    border: none;
    color: white;
    padding: 12px 15px;
    display: flex;
    gap: 10px;
    border-radius: 10px;
    max-width: fit-content;
}
.hero_right{
    flex: 1;
    height: 100%;
}
.hero_right img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
/*responsiveness*/
@media(max-width:834px){
    av{
        padding: 10px 16px;
    }
    .hero_section{
        padding: 0 16px;
    }
}